/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body */
body {
  height: 100vh;
  background: rgb(31, 29, 29);
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 20px;
}

/* Main Container */
.outer {
  width: min(100%, 400px);
  padding: 25px;
  border: 1px solid rgb(136, 119, 119);
  border-radius: 10px;
}

/* Form */
.form-container,
#action,
.inputSection {
  display: flex;
  flex-direction: column;
}

.form-container {
  gap: 20px;
}

#action {
  gap: 15px;
}

.inputSection {
  gap: 10px;
}

/* Labels */
label {
  font-size: 0.95rem;
}

/* Inputs */
.inputType {
  width: 100%;
  height: 40px;
  padding: 0 12px;
  border: none;
  outline: none;
  border-radius: 8px;
  background: rgb(59, 57, 57);
  color: #fff;
  font-size: 1rem;
}

.inputType::placeholder {
  color: rgb(131, 125, 125);
  font-size: 0.9rem;
}

/* Category */
#category {
  text-decoration: underline;
  margin-top: 5px;
}

/* Radio Buttons */
.tag-checkbox {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.tag-checkbox label {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

/* Buttons */
.btn {
  width: 100%;
  height: 42px;
  border: none;
  border-radius: 20px;
  font-size: 0.95rem;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s ease;
}

.submit {
  background: #000;
  color: #fff;
}


.close {
  background: rgb(90, 8, 8);
  color: #fff;
}

.close:hover {
  background: rgb(120, 12, 12);
}